<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/home.css">
  <link rel="stylesheet" type="text/css" href="../css/jobSeekerCSS.css">
  <link rel="stylesheet" type="text/css" href="../css/popUpForms.css">
  <title> Home </title>
<body>
	<div id="fixednavi">
	  <ul id="navi">
	    <li> <a href="/jobseekerwelcome" id="active" class="non-dropdown-content"> Home </a> </li>
      <li> <a href="/jobs"  class="non-dropdown-content non-active"> Jobs </a> </li>
      <li> <a href="/companies"  class="non-dropdown-content non-active"> Companies </a> </li>
      <li> <input class="searchbar" placeholder="Search" type="text"/> </li>
      <button class="search-button" >Go</button>
      <li class="logout"> <a onClick="change3()"  class="non-dropdown-content non-active"> Logout </a> </li>

	  </ul>
	</div>

	<div class="nav-body-container">
		<div class="box">
        <p style="margin-top: -25px; margin-left: 35px; margin-bottom: -30px" id="content"> </p>
    </div>

    <div class="side">
      <button class="side-button" onclick="document.getElementById('id01').style.display='block'">Edit profile</button>
      <button class="side-button" onclick="document.getElementById('id02').style.display='block'" type="submit">Delete profile</button>
      <button id="submit_view" class="side-button" > View My Profile </button>

    </div>

    <div id="id02" class="modal">

      <div class="modal-content animate">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>

        <div class="popup-wrapper">
          <div class="popup-container">
            <h3 style="color: black; margin-top: 30px; margin-left: 50px"> Delete profile, leads to the deletion of your whole account.</h3>
            <h3 style="color: black; margin-left: 50px"> Are you sure?</h3>

            <button class="popup-buttons" id="submit_delete" style="float: left; margin-left: 50px" type="submit">Delete profile</button>
            <button type="button" style="float: right; margin-right: 50px" onclick="document.getElementById('id02').style.display='none'" class="popup-buttons cancelbtn">Cancel</button>
          </div>
        </div>

        <div class="footer-container" style="background-color:#f1f1f1">
        </div>
      </div>
    </div>


    <div id="id01" class="modal">

      <form class="modal-content animate">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>

        <div class="popup-wrapper">
          <div class="popup-container">

            <h2 style="color: black; margin-top: 30px; margin-right: 50px"> Edit profile </h2>

            <div class="forms">
              <label class="label"><b>Name</b></label>
              <input class="input-form" type="text" placeholder="Enter name" id ="name" required>
            </div>

            <div class="forms">
              <label class="label"><b>Birthday</b></label>
              <input class="input-form" type="date" placeholder="Enter birthday" id ="birthday" required>
            </div>

            <div class="forms">
              <label class="label"><b>Sex</b></label>
              <input class="input-form" type="text" placeholder="Enter sex" id ="sex" required>
            </div>

            <div class="forms">
              <label class="label"><b>Email</b></label>
              <input class="input-form" type="text" placeholder="Enter email" id ="email" required>
            </div>

            <div class="forms">
              <label class="label"><b>Street</b></label>
              <input class="input-form" type="text" placeholder="Enter street" id ="street" required>
            </div>

            <div class="forms">
              <label class="label"><b>City</b></label>
              <input class="input-form" type="text" placeholder="Enter city" id ="city" required>
            </div>

            <div class="forms">
              <label class="label"><b>Province</b></label>
              <input class="input-form" type="text" placeholder="Enter province" id ="province" required>
            </div>

            <button class="popup-buttons" style="float: left; margin-left: 50px" type="submit" id="submit_change" >Save changes</button>
            <button type="button" style="float: right; margin-right: 50px" onclick="document.getElementById('id01').style.display='none'" class="popup-buttons cancelbtn">Cancel</button>
          </div>
        </div>

        <div class="footer-container" style="background-color:#f1f1f1">
        </div>
      </form>
    </div>

    <div>
		    <div class="container">
          <h4> Jobs </h4>
            <button class="button" style="margin-top:30px; width: 300px" onclick="document.getElementById('id03').style.display='block'">Apply for a job</button>
            <a href="/jobs">
              <button class="button" style="margin-top:30px; width: 300px" >View job posting</button>
            </a>
            <a href="companies">
  		        <button class="button" style="margin-top:30px; width: 300px" >View a company</button>
            </a>
        </div>
    </div>

    <div id="id03" class="popup-list" style= "margin-top:-65px">

      <form class="popup-content animate">

        <div class="popup-wrapper">
          <div class="popup-container">
            <h4 style="color: black; margin-top: 30px"> Apply for a job </h4>

            <div class="forms">
              <input class="search-input" type="text" id="jid" placeholder="Search job">
              <button id="submit_job" class="search-button">Go</button>
              <!-- <div style = "color: black; text-align: left"> <p > list of jobs.. </p> </div> -->
            </div>
          </div>
        </div>

    </div>

<!-- view profile -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
   <script>
    $(document).ready(function(){
      $("#submit_view").click(function(){
        $.post("http://localhost:3000/jobseekerview",{}, function(data){
          // alert("yo!");
          document.getElementById("content").innerHTML = "";
          document.getElementById("content").innerHTML += "<br><br><br><br>";
          document.getElementById("content").innerHTML += "ID: " + data[0].Js_profileid + "<br>" + "JobSeekerName: " + data[0].Name + "<br>" +  "Email: " + data[0].Email + "<br>" + "Birthday: " + data[0].Birthday + "<br>" + "Sex: " + data[0].Sex + "<br>" + "Address: " + data[0].Street + "," + data[0].City + "," + data[0].Province + "<br><br><br>";

        });
      });
    });
</script>

<!-- edit profile -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
<script>
$(document).ready(function(){
  var city;
  var street;
  var province;
  var email;
  var name;
  var birthday;
  var sex;
  $("#submit_change").click(function(){
    city=$("#city").val();
    street=$("#street").val();
    province=$("#province").val();
    email=$("#email").val();
    name=$("#name").val();
    birthday=$("#birthday").val();
    sex=$("#sex").val();
    $.post("http://localhost:3000/jobseekeredit",{email: email, city: city, street: street, province: province, name: name, birthday: birthday, sex: sex}, function(data){
      if(data==='done')
        {
          alert("Operation Successful!");
          window.location.replace("http://localhost:3000/jobseekerwelcome");
        }
      else{
          alert("Oops, Someting Went Wrong!");
          window.location.replace("http://localhost:3000/jobseekerwelcome");
      }
    });
  });
});
</script>

<!-- apply for job -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
<script>
$(document).ready(function(){
  var jid
  $("#submit_job").click(function(){
    jid=$("#jid").val();
    $.post("http://localhost:3000/checkjob",{jid: jid}, function(data){

      if(data == "done"){
        $.post("http://localhost:3000/jobseekerapply",{jid: jid}, function(data){

          if(data == "done"){
                  alert("Operation Successful!");
                  window.location.replace("http://localhost:3000/jobseekerwelcome");
                }
          else{
            alert("Ooop! Something went wrong");
            window.location.replace("http://localhost:3000/jobseekerwelcome");
          }

        });
            }
      else{
        alert("Invalid ID!");
        window.location.replace("http://localhost:3000/jobseekerwelcome");
      }

    });
  });
});
</script>

<!-- delete profile -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
<script>
$(document).ready(function(){
  $("#submit_delete").click(function(){
    $.post("http://localhost:3000/jobseekerdelete",{}, function(data){
      if(data==='done')
        {
          alert("Operation Successful");
          window.location.replace("http://localhost:3000/");
        }
      else{
          alert("Oops! Something went wrong.");
          window.location.replace("http://localhost:3000/jobseekerwelcome");
      }
    });
  });
});
</script>

<script>
  function change3(){
    window.location.replace("http://localhost:3000/");
  }
  var modal = document.getElementById('id03');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>

<script>
function change1(){
    window.location.replace("http://localhost:3000/jobseekerwelcome");
  }
  function change2(){
    window.location.replace("http://localhost:3000/jobseekerreportgenerator");
  }

</script>

</body>
</html>
