<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <title> Login </title>
  </head>

  <body>

  <form action="../db/db.js" method="post">
    <div class="imgcontainer">
      <img src="../images/Firewatch.png" alt="Avatar" class="avatar">
    </div>
    <div style="margin-top: -130px;"class="container">
    <h1> WELCOME TO JFS</h1>
      <input type="button" onClick = "change1()" id="submit" class="login" value="Log in as Admin" >
      <input type="button" onClick = "change2()" id="submit" class="login" value="Log in Company User" >
      <input type="button" onClick = "change3()" id="submit" class="login" value="Log in Job Seeker" >
      <h3> Sign up</h3>
      <input type="button" onClick = "change4()" id="submit" class="login" value="Company User" >
      <input type="button" onClick = "change5()" id="submit" class="login" value="Job Seeker User" >
  <script>
  function change1(){window.location.replace("http://localhost:3000/adminloginpage"); }
  function change2(){window.location.replace("http://localhost:3000/companyloginpage"); }
  function change3(){window.location.replace("http://localhost:3000/jobseekerloginpage"); }
  function change4(){window.location.replace("http://localhost:3000/companysignup"); }
  function change5(){window.location.replace("http://localhost:3000/jobseekersignup"); }
  </script>

    </div>
  </form>
<!--     <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
  </body>
<html>
<!--  -->
